<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OLE || Review</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style_newOrder.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style_review.css" />
    <script type="text/javascript" src="static/js/productReview.js" defer></script>
</head>
<body>
    
        <h2>Add an opinion</h2>
        <br />
        <section>
        <form class="reviewForm" onsubmit="addNewOpinion(event)">
            <label for="name">
                <span>Name</span>
                <br>
                <input type="text" id="name" required /></label>
                <br /><br />
            <label for="email">
                <span>Email</span>
                <br>
                <input type="email" id="email" required /></label>
                <br /><br />
            <label for="subject"><span>Subject</span>                
                <br>
                <input type="text" id="subject" required /></label>
                <br /><br />
            <label class="Feedback-box" for="message">
                <br>
                <span>Feedback</span>        <br>        
                <textarea name="message" id="message" required></textarea></label>
                <br /><br />
            <label for="rating"><span>Rating Stars</span>                
                <br>
            </label>
            <div class="center-rating">
                <div class="rating-stars">
                    <input type="radio" name="rating" id="star1" value="1" required />
                    <label for="star1">&nbsp;&nbsp;</label>
                    <input type="radio" name="rating" id="star2" value="2" />
                    <label for="star2">&nbsp;&nbsp;</label>
                    <input type="radio" name="rating" id="star3" value="3" />
                    <label for="star3">&nbsp;&nbsp;</label>
                    <input type="radio" name="rating" id="star4" value="24" />
                    <label for="star4">&nbsp;&nbsp;</label>
                    <input type="radio" name="rating" id="star5" value="5" />
                    <label for="star5">&nbsp;&nbsp;</label>
                </div>
                <p class="num-rate">1 &nbsp;&nbsp; 2 &nbsp;&nbsp; 3 &nbsp;&nbsp; 4 &nbsp;&nbsp; 5</p>
            </div>
            </section>
            <br><br>
        <section>
            <button type="submit" class="submit-button">Submit</button>
        </form>
        <div id="result"></div>
</section>
<br><br>
<section>
    <div>
        <a class="logout-home-page" href="{{ url_for('logout') }}"><b>Logout</b></a> <a class="home-page" href="{{ url_for('home') }}">Back to home page</a>
    </div>
</section>
</body>
</html>
