.reviewForm {
  font-size: 30px;
  color: #000000;
}

.reviewLabel {
  font-size: 20px;
  border-radius: 16px;
  color: #000000;
  padding: 20px 70px;
}
.center-rating {
  size: 10px;
}
.submit-button {
  font-size: 20px;
  margin-top: 10px;
  padding: 30px 90px;
  background-color: #83a597;
  border: 3px solid black;
  font-weight: 700;
  color: rgb(0, 0, 0);

  border-radius: 5px;
  cursor: pointer;
}

.Feedback-box {
}
.num-rate {
  color: rgb(0, 0, 0);
  font-weight: 700px;
}
