<!DOCTYPE html>
<html>
<head>
    <title>OLE || Admin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1 class="user-title"> Welcome to Admin Home Page</h1><br>
    <section>
    <div class="container-admin">
        <a class="button-grid-admin " href="{{ url_for('DishesDetails') }}"><b>Enter to Dishes Details</b></a>
        <a class="button-grid-admin" href="{{ url_for('ExistingOrders') }}"><b>View details of Existing Orders</b></a>
        <a class="button-grid-admin" href="{{ url_for('ClosedOrders') }}"><b>View details of Closed Orders</b></a>
        <a class="button-grid-admin" href="{{ url_for('Graphs') }}"><b>View graphs on restaurant data</b></a>

    </section>
    
    <div>
        <a class="logout-home-page" href="{{ url_for('logout') }}"><b>Logout</b></a>
    </div>
    
    <br>

    <div>
    <a class="nav-item-logo" href="{{ url_for('home') }}">Back to home page</a>
    </div>

</body>
</html>