<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="user-scalable=0, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title class="title">OLE || Home</title>
    <link rel="stylesheet" as="style" href="static/css/style.css" />
    <link rel="stylesheet" as="style" href="static/css/style_newOrder.css" />
  </head>
  <body>
    <section class="">
      <nav class="navbar navbar-dropdown">
        <div class="container-fluid">
          <div class="home-button">
            <span><a href="#">OLE</a></span>
          </div>

          <div class="nav-links">
            <ul class="nav-bar" style="font-size: 20px">
              <li><a href="#">Home</a></li>
              <li><a href="#About">About</a></li>
              <li><a href="NewOrder">Products</a></li>
              <li style="margin-left: auto">
                <a class="nav-item-logo" href="{{ url_for('menu') }}"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="50"
                    height="50"
                    fill="currentColor"
                    class="bi bi-card-list"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"
                    />
                    <path
                      d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"
                    /></svg
                ></a>
              </li>
              <!-- LOGIN LOGO-->
              <li>
                <a class="nav-item-logo" href="{{ url_for('login') }}"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="50"
                    height="50"
                    fill="currentColor"
                    class="bi bi-person-circle"
                    viewBox="0 0 16 16"
                  >
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path
                      fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                    /></svg
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <br />
    <br />
    <section class="cont cid-sN2dg8se2K" id="Home">
      <h1 class="ole-pat">OLE - pâtisserie</h1>
    </section>
    <br />
    <br />
    <section>
      <div id="bodyloginForm"></div>
      <div class="cont header navigation">
        <h1 style="font-size: 40px">Welcome to OLE pâtisserie Home Page</h1>
        {% if current_user.is_authenticated %} {% if current_user.username ==
        "elad" %}
        <p style="font-size: 30px">
          Hello, {{ current_user.username }}, <b>The Admin!</b>
        </p>
        <a class="home-page" href="{{ url_for('admin') }}"
          ><b>Admin Home Page</b></a
        >
        <a class="logout-home-page" href="{{ url_for('logout') }}"
          ><b>Logout</b></a
        >

        {% elif current_user.username == "lior" %}
        <p style="font-size: 30px">
          Hello, {{ current_user.username }} , <b>Manager!</b>
        </p>
        <a class="home-page" href="{{ url_for('manager') }}"
          ><b>Manager Home Page</b></a
        >
        <a class="logout-home-page" href="{{ url_for('logout') }}"
          ><b>Logout</b></a
        >

        {% elif current_user.username == "Or" %}
        <p style="font-size: 30px">
          Hello, {{ current_user.username }} , The <b>Manager!</b>
        </p>
        <a class="home-page" href="{{ url_for('manager') }}"
          ><b>Manager Home Page</b></a
        >
        <a class="logout-home-page" href="{{ url_for('logout') }}"
          ><b>Logout</b></a
        >

        {% else %}
        <p style="font-size: 30px">
          Hello, {{ current_user.username }} ,<b>The Customer!</b>
        </p>
        <a class="home-page" href="{{ url_for('CustomerHome') }}"
          ><b>Customer Home Page</b></a
        >
        <a class="logout-home-page" href="{{ url_for('logout') }}"
          ><b>Logout</b></a
        >
        {% endif %} {% else %}
        <br />
        <h2>
          To create an Order or To enter the personal area, Please Login or
          Register.
        </h2>
        <br />
        <div content="width=device-width, initial-scale=1.0">
          <a class="login-home-page" href="{{ url_for('login') }}"
            ><b>Login</b></a
          >
          <a class="register-home-page" href="{{ url_for('register') }}"
            ><b>Register</b></a
          >
        </div>
        {% endif %}
      </div>
    </section>
    <br />
    <br />
    <section class="cont" id="About">
      <div
        class="mbr-overlay"
        style="opacity: 0.1; background-color: rgb(78, 222, 241)"
      ></div>
      <h1 style="font-size: 30px; margin-top: auto">About OLE</h1>
      <p style="font-size: 20px">
        We handcraft timeless desserts using the finest ingredients and
        traditional methods, just like the artisan pâtissiers of Paris. Step
        into our charming boutique and indulge in a symphony of flavors. From
        the buttery flakiness of a perfectly-baked croissant to the rich
        decadence of a decadent chocolate éclair, each bite is a testament to
        our dedication to quality and craftsmanship.
      </p>
    </section>
  </body>
</html>
