<div id="body">
    <h2>Search Flights</h2>
    <div class="button-container">
        <button class="pink-button" onclick="fetchFlight()">Show All Flights</button> 
        <button class="pink-button" onclick="showSpecificDestinationInput()">Search specific</button>
    </div><br>
    <div id="specificDestinationInputContainer" style="display: none;">
        <div class="search-frame">
            <h1>Search Options</h1>
            <div class="search-input-group">
                <label for="destination">Destination</label>
                <input type="text" class="search-input" id="destination">
            </div><br>
            <div class="search-input-container">
                <div class="search-input-group">
                    <label for="minPrice">Min Price</label>
                    <input type="text" class="search-input" id="minPrice" value="0">
                </div>
                <div class="search-input-group">
                    <label for="maxPrice">Max Price</label>
                    <input type="text" class="search-input" id="maxPrice" value="100000">
                </div>
            </div><br><br>
            <button class="button" onclick="searchFlightsByPriceRange()">Search Flights</button>
        </div>
    </div><br><br>
    <table class="my-table">
        <thead>
            <tr>
                <th>Destination</th>
                <th>Origin</th>
                <th>Date</th>
                <th>Hour</th>
                <th>Terminal</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody id="flightList"></tbody>
    </table><br></br><br></br>
</div>
<script src="path/to/script.js"></script>
 
